*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(200, 219, 219);
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(177, 140, 140);
    box-shadow: 0 5px 10px rgb(78, 64, 64);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(18, 108, 124)
}
.navbar ul{
    list-style: none;
}
.navbar ul li {
    position: relative;
    float: left;
}
.navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}
.navbar ul li a:hover {
    background-color: rgb(30, 36, 36);
    color: aliceblue;
}
.navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgb(181, 198, 214);
    display: none;

}
.navbar ul li:hover ul {
    display: block;
}
.navbar ul li ul li {
    width: 100%;
    border-top: 1px solid black;
}

